.wallpaper {
  width: 100%;
  flex: 1;
  padding-top: 70px;
  background-color: var(--bg-w-pure);
}

.type_box {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.type_item {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 0 8px;
  height: 36px;
  border-radius: 18px;
  box-shadow: 0px 5px 3px var(--b-alpha-5);
  color: var(--b-alpha);
  cursor: pointer;
  transition: all 0.3s ease;
}

.type_item:hover {
  color: white;
  background-color: var(--purple-text);
  box-shadow: 5px 5px 3px var(--purple-text-hover);
  font-weight: 500;
}

.type_item_active {
  color: white;
  background-color: var(--purple-text);
  box-shadow: 5px 5px 3px var(--purple-text-hover);
  font-weight: 500;
}

.picture_box {
  width: 70%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 24px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.picture_box_loading {
  width: calc(70% - 48px);
  max-width: 1200px;
  margin: 200px auto;
  padding: 24px;
  display: flex;
  justify-content: center;
}

.picture_item {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--b-alpha-5);
}

.pager_box {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 24px 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 1600px) {
  .picture_box {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .type_item {
    font-size: 14px;
  }

  .picture_box {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .type_box,
  .picture_box{
    width: 100%;
  }

  .picture_box_loading{
    width: calc(100% - 48px);
  }
  .type_item {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .picture_box {
    grid-template-columns: repeat(2, 1fr);
  }
}
